<div id="meaning-form">
  <%= form_with model: meaning, url: meanings_path(unknown_word_id: unknown_word.id), data: { turbo_method: :post } do |f| %>
    <%= f.text_field :content, placeholder: "意味を追加", class: "form-control" %>
    <%= f.hidden_field :unknown_word_id, value: unknown_word.id %>
    <%= f.submit "追加", class: "btn btn-primary btn-sm" %>
  <% end %>
</div>
